.home-banner {
  display: flex;
  align-items: center;

  background-color: #23343c;
  height: 100vh;
  padding-left: 10%;
  overflow: hidden;
}

.portfolio_intro,
.portfolio_image {
  width: 100%;
}

.portfolio_image {
  padding: 0;
}

.portfolio_image img {
  height: 100vh;
  margin-bottom: -28%;
}
